@import "@/variables";
.nav {
    width: 100%;
    background: $primary-color;
    padding: 20px 5vw;
    display: flex;
    gap: 20px;

    .link {
        color: $text-color;
        text-decoration: none;
    }
}